[Unit]
Description=The converjon image service
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
PIDFile=/run/converjon.pid
Environment=NODE_ENV=production
ExecStart=/usr/bin/node server.js
User=server
Group=www
WorkingDirectory=/srv/www/converjon
SyslogIdentifier=converjon
Restart=on-failure


[Install]
WantedBy=multi-user.target
