# Development configuration file.
#
# Start a server with this configuration merged over default.yml via:
#
# converjon --dev
#
server:
  port: 8001
  enable_load_test: false

download:
  url_whitelist:
    - "http://localhost:8002/*"
    - "https://upload.wikimedia.org/*"

# start a test server to automatically deliver test images
test_server:
  enabled: true
  port: 8002

authentication:
  username: "testuser"
  password: "testpass"

logging:
  error: "stderr"
  debug: "stderr"
  access: "stdout"

presets:
  thumbnail:
      format: "jpg"
      quality: 50
      width: 100
      hight: 100

source_url_header: true

garbage_collector:
  enabled: true
  source: "cache"
  target: "immediate"
  interval: 5000
